*{
    margin: 0;
    padding: 0;
}
html, body{
    height: 100%;
    width: 100%;
    /* background-color: red; */
}
/* nav */
.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    background-color: white;
    /* box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); */
}


.logo h3 {
    /* height: 50px; */
    font-size: 25px;
    color: #f05a28;
}
/* Categories */
.categories {
    list-style: none;
    display: flex;
    gap: 20px;
    margin: 0;
    padding: 0;
}

.categories li a {
    text-decoration: none;
    color: #333;
    font-size: 16px;
}

.categories li a:hover {
    color: orangered;
}
/* Search Bar */
.search-bar {
    display: flex;
    align-items: center;
}

.search-bar input[type="text"] {
    padding: 8px;
    border: 1px solid;
    /* border-radius: 4px 0 0 4px; */
    outline: none;
    border-radius: 50px;
}

.search-bar button {
    padding: 8px;  
    border: none;
    color: black;
    cursor: pointer;
}
.search-bar button i {
    font-size: 16px;
}

.nav-icons {
    display: flex;
    gap: 20px;
    align-items: center;
}

.nav-icons a {
    text-decoration: none;
    color: #333;
    font-size: 20px;
}

.nav-icons a:hover {
    color: #f05a28;
}
/* Sign-up Button */
.sign-in {
    padding: 8px 16px;
    background-color: #f05a28;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.sign-in:hover {
    background-color: #d14b24;
}








h5{
    font-size: medium;
    margin-top: 20px;
    font-weight: 100;
}
h3{
    font-size: 30px;
    padding-top: 5px;
    padding-bottom: 20px;
    font-weight: 100;
}
#home-decor1{
    align-items: center;
    justify-content: space-between;
    display: flex;
    height: 30%;
    width: 80%;
    /* background-color: aqua; */
    margin-left: 150px;
}
.div1 {
    height: 100%;
    width: 20%;
    margin: 10px;
    border-radius: 10%;
    /* padding-right: 10px; */
    /* background-color: antiquewhite; */
    /* border: 1px solid green; */
}

.div1 img{
    height: 80%;
    width: 100%;
    border-radius: 10%;
    /* overflow: hidden; */
}
.div1 img:hover{
    transform: scale(1.1);
}
.div1 h3{
    font-size: 20px;
    padding-left: 20px;
}

.btn{
    /* margin-top: 800px; */
    font-size: 18px;
    font-weight: 600;
    background-color: rgb(234, 228, 228);
    width: 160px;
    padding: 10px;
    text-decoration: none;
    text-align: center;
    color: black;
    border-radius: 20px;
    cursor: pointer;
}
.btn:hover{
    background-color: rgb(133, 131, 131);
}

/* page2  */

/* page 2 home decor end */

.page-decor3{
    margin-top: 30px;
    height: 63vh;
    width: 94vw;
    margin-left: 40px;
    /* background-color: red; */
}
.page-decore3-1{
    height: 8%;
    width: 100%;
    /* background-color: aliceblue; */
     align-items: center;
     justify-content: center;
     display: flex;
}
.btn-1{
    
    font-size: 15px;
    font-weight: 600;
    background-color: rgb(234, 228, 228);
    width: 100px;
    padding: 10px;
    text-decoration: none;
    /* text-align: center; */
    color: black;
    border-radius: 20px;
    cursor: pointer;
    margin-right: 950px;
}
.btn-1:hover{
    background-color: rgb(165, 163, 163);
}
.btn-2{
    
    font-size: 15px;
    font-weight: 600;
    background-color: rgb(234, 228, 228);
    width: 150px;
    padding: 10px;
    text-decoration: none;
    color: black;
    border-radius: 20px;
    cursor: pointer;
    /* margin-right: 950px; */
}
.btn-2:hover{
    background-color: rgb(165, 163, 163);
}
.page-decore3-1 h5{
    margin-right: 10px;
    margin-bottom: 17px;
}

.page-decore3-2{
    height: 400px;
    width: 100%;
    /* background-color: pink; */
    margin-top: 10px;
    align-items: center;
    justify-content: space-between;
    display: flex;
}
.page-decore-pic{
    height: 400px;
    width: 30%;
    /* background-color: blue; */
    margin-left: 10px;
}
.page-decore-pic img{
    width: 100%;
    height: 280px;
    /* background-color: yellow; */
}
.page-decore-pic img:hover{
    transform: scale(1.1);
}
.checked {
    color: orange;
  }
.page-decore-pic h6{
    font-size: 13px;
    font-weight: 300;
}
.page-decore-pic h5{
    margin-top: 2px;
    font-weight: bold;
    font-size: 15px;
}
.page-decore-pic h5 s{
    margin-top: 2px;
    color: rgb(91, 87, 87);
}
.page-decore-pic a{
    font-size: 15px;
    font-weight: 600;
    background-color: rgb(111, 192, 111);
    width: 150px;
    padding-left: 5px;
    padding-right: 5px;
    text-decoration: none;
    color: black;
    border-radius: 20px;
    cursor: pointer;
    margin-top: 5000px;
}
#home-decor4{
    height: 40vh;
    width: 80vw;
    margin-left: 50px;
    /* background-color: red; */
}
#home-decor4-1{
    height: 80%;
    width: 75%;
    margin-top: 20px;
    /* background-color: pink; */
    align-items: center;
    justify-content: space-between;
    display: flex;
}
.home-decore4-1-1{
    height: 100%;
    width: 25%;
    /* background-color: yellow; */
    /* gap: 2px; */
    /* margin-right: 150px; */
}
.home-decore4-1-1 img{
    height: 60%;
    width: 80%;
    /* background-color: blue; */

}
.home-decore4-1-1 h2{
    font-size: 19px;
    font-weight: bold;
}
.home-decore4-1-1 h4{
    font-size: 14px;
    font-weight: 100;
}

/* #home-decore5{
    height: 25vh;
    width: 80vw;
    margin-top: 20px;
    margin-left: 50px; */
    /* background-color: red; */
/* }
.home-decor5-1{
    align-items: center;
    justify-content: space-between;
    display: flex;
}
.home-decor5-1 a{
    font-size: 15px;
    font-weight: 600;
    background-color: rgb(234, 228, 228);
    padding: 10px;
    text-decoration: none;
    color: black;
    border-radius: 20px;
    cursor: pointer;
}
#home-decore5 h5{
    cursor: pointer;
} */

/* footer */
#page5{
    width: 99vw;
    height: 20vh;
    margin-top: 40px;
    background-color: rgb(163, 238, 243);
}
#page5 h3{
    font-size: 20px;
    font-weight: 400;
    color: black;
    padding-top: 10px;
    padding-left: 350px;
}
#page5 h4{
    font-size: 20px;
    font-weight: 400;
    color: black;
    /* padding-top: 10px; */
    padding-left: 700px;
}
.email-bar {
    display: flex;
    align-items: center;
    padding-left: 600px;
    padding-top: 20px;
    
}

.email-bar input[type="text"] {
    padding: 10px;
    width: 300px;
    padding-left: 20px;
    border: 1px solid;
    outline: none;
    border-radius: 50px;
}

.email-bar button {
    padding: 5px;  
    border: none;
    color: black;
    cursor: pointer;
}

.email-bar button i {
    font-size: 16px;
}

/* page6 */
#page6{
    width: 99vw;
    height: 50vh;
    animation-name: fill;
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse;
    animation-direction: alternate;
    animation: fill 8s infinite;
    animation-fill-mode: forwards;
    /* background-color: #3B67D9; */
}
@keyframes fill {

    0% {
        background-color: pink;
    }

    25% {
        background-color: rgb(148, 238, 208);
    }

    50% {
        background-color: rgb(242, 242, 137);
    }

    75% {
        background-color: rgb(201, 159, 240);
    }

    100% {
        background-color: rgb(246, 152, 152)
    }
}
#page6-up{
    width: 100%;
    height: 25%;    
}
#page6-up h3{
    padding-top: 33px;
    margin-left: 500px;
    color: black;
    font-weight: 100;
    /* border-bottom: 1px dotted white; */
    /* text-decoration: 1px dotted white; */
    /* text-underline-position: 1px solid white; */
}
#page6-down{
     width: 100%;
     height: 75%;
     /* background-color:#2638C0; */
     align-items: center;
    justify-content: space-between;
    display: flex;
}
#page6-down-left{
    margin-left: 100px;
    width: 30%;
    height: 100%;
    border: 1px solid black;
    border-radius: 30px;
    /* background-color:#122868; */

    
}
/* #page6-b1{
    height: 100px;
    width: 100px;
    background-color: #F19D27;
} */
/* #page6-down-left button #page6-b1{
    height: 100px;
    width: 100px;
    background-color: #F19D27;
} */

#page6-b1{
    height: 80px;
    width: 80px;
    margin-top: 70px;
    margin-left: 140px;
    background-color:#F1641E;
    border-radius: 10%;
    cursor: pointer;
    font-size: 30px;
    color: white;
    font-weight: 200;
}

#page6-b2{
    height: 40px;
    width: 200px;
    margin-left: 80px;
    margin-top: 30px;
    border-radius: 15%;
    cursor: pointer;
    background-color: #2638C0;
    color: white;
    font-size: 19px;
    font-weight: 100;
}

#page6-down-right{
    height: 100%;
    width: 70%;
    align-items: center;
    justify-content: space-between;
    display: flex;
    /* list-style: none; */
    /* background-color: red; */
}
.list1 {
    height: 200px;
    width: 300px;
    list-style: none;
    /* font-style: normal; */
    font-size: 14px;
    font-weight: 50;
    line-height: 15px;
    margin-bottom: 50px;
    margin-left: 90px;
    margin-right: 90px;
    /* color: red; */
    /* background-color: pink; */
    padding-left: 20px;
}
.list1 a{
    color: black;
    
}
.list1 li a:first-child{ 
    /* color: red; */
    font-weight: bolder;
  }

/* .list header{
      color: white;
      margin-left: 10px;
}  */

/* footer */
#footer{
    height: 12vh;
    width: 99vw;
    background-color: black;
    align-items: center;
    justify-content: space-between;
    display: flex;
}
#footer-left{
    height: 100%;
    width: 18%;
    /* background-color: red; */
    align-items: center;
    justify-content: space-between;
    display: flex;
}
#footer img{
    margin-top: 1px;
    margin-left: 68px;
}
#footer-left h5{
    color: white;
    font-size: 14px;
    font-weight: 600;
    margin-top: 1px;
}
#footer-right{
    height: 98%;
    width: 50%;
    margin-right: 20px;
    /* background-color: red; */
    align-items: center;
    justify-content: space-between;
    display: flex;
}
#footer-right h5{
    color: white;
    font-size: 12px;
    font-weight: 200;
    margin-top: 1px;
    /* margin-bottom: 25px; */
}
#footer-right a{
    color: white;
    font-size: 12px;
    font-weight: 200;
    /* margin-bottom: 25px; */
    gap: 10px;
}

